:root {
    --primary-color: #010736;
    --secondary-color: #FCF1D0;
    --body-color: #22396F;
    --heading-font: "Ubuntu", sans-serif;
    --body-font: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--body-color);
}

header,
main,
footer {
    text-align: center;
    margin: 0 auto;
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

nav,
p,
section,
article {
    margin: 16px;
    padding: 8px;
}

.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    text-align: center;
    opacity: 0.5;
    top: 16px;
    width: 100%;
    padding: 16px;
    background-color: white;
    color: var(--primary-color);
    font-family: var(--heading-font);
}

.hero article {
    position: absolute;
    background-color: var(--primary-color);
    color: var(--secondary-color);
    top: 8rem;
    text-align: right;
    right: 0;
    left: 0;
}

.hero article img {
    float: right;
    width: 200px;
    border: 1px solid white;
    box-shadow: var(--secondary-color);
    padding: 8px;
    margin: 6px 6px;
}

section h2 {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    margin: 0 0;
    padding: 8px
}