:root {
    --primary-font-size: 24px;
    --heading-background-color: #123F36;
    --primary-text-color: #2A6B5C;
    --secondary-text-color: #E8DCC4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* main {
    max-width: 1200px;
} */

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
}

nav {
    background-color: var(--heading-background-color);
    color: var(--secondary-text-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: var(--primary-text-color);
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px solid rgb(0 0 0/ 0.2);
    padding: 1rem;
    background-color: var(--heading-background-color);
    color: var(--secondary-text-color);
    text-align: center;
}

aside h2 {
    position: relative;
    top: 30px;
    left: 0px;
    font-size: 1rem;
}

aside img {
    width: 200px;
    height: auto;
}

footer {
    margin-top: 2rem;
    border-top: 2px solid rgb(0 0 0/ 0.2);
    text-align: center;
}

/* Class Selector */
.box {
    margin: 1rem;
    border: 1px solid var(--secondary-text-color);
    padding: 1rem;
    background-color: var(--secondary-text-color);
    color: var(--heading-background-color);
}